<h1>Add Book</h1>
<form action="/books" method="post">
	<label for="book">Enter Book</label>
	<input type="text" name="content" placeholder="book title">
	<br><br>
	<input type="text" name="content" placeholder="author">
	<br><br>
	<input type="submit" name="submit" id="submit" value="Submit">
</form>