<h1>Add a Book</h1>
<form action="/books" method="post">
	<label>Title</label>
	<input type="text" name="content" placeholder="book title">
	<br><br>
	<label>Author</label>
	<input type="text" name="content" placeholder="author">
	<br><br>
	<input type="submit" name="submit" id="submit" value="Submit">
</form>